[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Yalpam Paket Yöneticisi
GenericName=Milis Linux Paket Yöneticisi
Comment=Milis Linux Paket Yöneticisi
Exec=sudo sh /usr/share/yalpam/yalpam.sh
Icon=system-software-install
Terminal=false
Categories=GNOME;GTK;System;Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
StartupNotify=true
X-Desktop-File-Install-Version=0.22
